.catalog__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-right: 2px solid #fff;
}

.catalog__filter_systems_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.catalog__filter_system_btn {
  flex: 1;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
  text-wrap: nowrap;
}

.catalog__catalog_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
}

.catalog__catalog_text {
  font-size: 20px;
  color: #fff;
}

.catalog__catalog_tags_btn {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 999px;
  padding: 5px 40px;
  font-size: 18px;
  font-weight: 400;
}

.catalog__main_container {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.catalog__main_input_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.catalog__main_input_container {
  display: flex;
  border-radius: 12px;
  background-color: #474e5c;
  padding: 0 15px;
  flex: 1;
  border: 1px solid #b6b6b6;
}

.catalog__main_input {
  padding: 15px 0;
  flex: 1;
  background-color: transparent;
  outline: none;
  border: none;
  color: #fff;
  padding-left: 10px;
}

.catalog__main_input::placeholder {
  color: #fff;
}

.catalog__main_input_icon {
  width: 25px;
  height: 25px;
}

.catalog__main_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.catalog__filter_system_btn_active {
  background: linear-gradient(90deg, #6a11cb 0%, #2575fc 100%);
  color: white;
}