/* Стилі контейнера для карток */
.astro-card-container {
  display: flex;
  flex-wrap: wrap;        
  gap: 50px;              
  max-width: 850px; 
    
}

/* Стилі картки нового проєкта */
.astro-card.create {
  display: block;
  width: 250px;
  padding: 0;
  border: 4px dashed rgb(65, 134, 136);
}
.astro-card.create h2{
  font-size: 25pt;
  margin-top: 0.4em;
  margin-bottom: 0;
}
.astro-plus-sign {
  width: 80px;          
  height: 80px;
  border-radius: 50%;    
  border: 0px;        
  background-color: transparent;  
  background-size: 100%;     
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 5em;
}
.astro-card.create:hover {
  cursor: pointer;
}

/* Стилі картки */
.astro-card {
  display: flex;
  flex-flow: column wrap;
  border-radius: 15px;
  padding: 20px;
  overflow: hidden;
  width: 210px;
  background: linear-gradient(
    180deg,
    rgba(23, 33, 43, 0.76),
    rgba(24, 73, 95, 0.671)
  );
  color: white;
  font-family: "Monterchi-Sans", sans-serif;
  transition: transform 0.2s ease, background-color 0.2s ease;
}
.astro-card:hover {
  transform: scale(1.05);
  background: linear-gradient(
    180deg,
    rgba(47, 68, 88, 0.76),
    rgba(35, 105, 138, 0.671)
  );
}

.astro-card-info h3 {
  margin: 0;
  font-size: 17pt;
  text-align: start;
  padding-left: 0.5em;
}


/* Стилі контейнеру картинки з кнопками */
.astro-card-footer {
  display: flex;
  flex-flow: row;
  align-items: center;
}

/* Стилі фото космонавта */
.astro-card-image {
  border-radius: 20px;
  height: 150px;
  width: 150px;
  overflow: hidden;
}
.astro-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Стилі кнопок і їх контейнеру */
.astro-btn-container {
  display: flex;
  flex-flow: column;
  gap: 25px;
  padding-left: 20px;
}

.astro-action-btn {
  width: 40px;          
  height: 40px;
  border-radius: 50%;          
  background-size: 100%;     
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.astro-action-btn:hover {
  transform: scale(1.1);
  background-color: rgba(255,255,255,0.2);
}

/* кнопка удаления */
.astro-action-btn.delete {
  background-image: url("../../images/deleteProject.png");
  border-color: red;
}

.astro-action-btn.delete:hover {
  background-color: rgba(255,0,0,0.2);
}

